<div class="container-fluid">
  <div class="row">
    <div class="col noPadding">
      <%= render 'shared/banner'%>
    </div>
  </div>
</div>
<div class="container-fluid noPadding ">
  <div class="home_wrapper">
      <%= render 'shared/wrapper'%>
  </div>
</div>


<% if params[:query].present? %>
  <% @drugs.each do |drug|  %>
    <div class="col-sm-8 offset-2">
      <%= render 'shared/drug_card_item', drug: drug %>
    </div>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-sm-8 offset-2 ">
      <h2 class="text-center">Derniers avis </h2>
      <hr>
      <% @reviews.each do |review| %>
      <%= render 'shared/card_review', review: review %>
      <% end %>
    </div>
  </div>
<% end %>
