.title {
  margin-top: 50px;

  // box-shadow: inset 0 -8px 0 rgba(106,216,106,0.55);
  // border-bottom: 3px solid rgba(106,216,106,0.6);


  font-size: 22px;
  font-weight: 700;
  text-align: center;
  }

  .drugheader {
    margin-bottom: 30px;
  }

  .avis {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }
