.title {
  margin-top: 50px;
  margin-bottom: 50px;
  width: auto;
  height: auto;
  // box-shadow: inset 0 -8px 0 rgba(106,216,106,0.55);
  // border-bottom: 3px solid rgba(106,216,106,0.6);
  height: 31px;
  font-size: 29px;
  font-size: 22px;
  font-weight: 700;
  // display: inline-block;
}

.tamere {
  height: 20px;
  overflow: scroll;
  overflow-y: scroll;
}
