
<div class="banner" style="background-image: url('<%= image_url("green.jpg")%>');">
  <div class="banner-content">
    <h1>Les avis sur les médicaments sont sur Medispeech</h1>
    <p>Partagez votre expérience !</p>
    <div class="search"><%= render 'shared/searchbar'  %></div>
  </div>
</div>
