
<div class="banner" style="background-image:url('<%= image_url("pills.jpg")%>');">
  <div class="banner-content" style= "background-image: linear-gradient(-225deg, rgba(240,240,240,0.6) 0%, rgba(0,36,61,0.6) 50%)">
    <h1>Les avis des médicaments sont sur VidalMedicament</h1>
    <p>Partagez votre expérience !</p>
    <div class="search"><%= render 'shared/searchbar'  %></div>
  </div>
</div>
