
    <div class="card informationmedoc">
      <div class="card-body">
        <h5 class="card-title">Indications thérapeutiques</h5>
        <p class="card-text "><%= @drug["indicationsTherapeutiques"].html_safe %></p>
      </div>
    </div>
