<div class="card" id="interactionredo">
  <div class="card-header interactionred">
    Attention: intérations entres vos médicaments !
  </div>
  <div class="card-body">
    <% interactions.each  do |interaction| %>
      <% interaction.each do |hash| %>
      <h5 class="card-title"><%= hash["nomMedicament1"] %> et <%= hash["nomMedicament2"] %></h5>
      <div class="premiereinteration">
        <p> <strong>Description :</strong> <%= hash["description"] %></p>
        <% unless hash["conseil"].nil? %>
        <p> <strong>Conseils :</strong> <%= hash["conseil"] %></p>
        <% end %>
      </div>
        <% end %>
      <% end %>
    </div>
  </div>
