
  <div class="row">
    <div class="search_index col-xs-12 col-sm-8 offset-sm-2">
      <div class="form-login">
        <%= form_tag :root, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            id: 'drug_search',
            placeholder: "Paracetamol 1g..."
          %>
        <% end %>
      </div>
    </div>
  </div>
