
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-sm-4">
      <div class="form-login">
        <%= form_tag :root, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            id: 'drug_search',
            placeholder: "Cherchez un médicament"
          %>
        <% end %>
      </div>
    </div>
  </div>
