<div class= "row">
  <div class= "col-sm-8 offset-2 wrapperheader">

      <h1>VidalMedicament: la premiere solution pour gérer votre prise de médicaments en ligne et rester en bonne santé</h1>

  </div>
</div>

<div class= "row">
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">1</button>
    </div>
    <div class= "wrapperpara">
      <p>
        Cherchez, trouvez et notez les médicaments que vous consommez en fonction de leur efficacité et des effets secondaires que vous avez pu connaitre.
      </p>
    </div>



  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">2</button>
    </div>
    <div class= "wrapperpara">
      <p>
        Ajoutez votre propre médication à vos favoris et évitez les interactions possibles entre vos médicaments.
      </p>
    </div>

  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">3</button>
    </div>
    <div class= "wrapperpara">
      <p>
        Prenez les bons médicaments et restez en bonne santé grâce à VidalMedicament.
      </p>
    </div>
  </div>

</div>
