<div class= "row">
  <div class= "col-sm-8 offset-2 wrapperheader">

      <h1>Medispeech est le premier site de notation basé sur votre expérience patient.</h1>

  </div>
</div>

<div class= "row">
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">1</button>
    </div>
    <div class= "wrapperpara">
      <h5>
        Accédez à toutes les informations que vous souhaitez à partir la base officielle des médicaments.
      </h5>
    </div>



  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">2</button>
    </div>
    <div class= "wrapperpara">
      <h5>
        Ajoutez vos médicaments à vos favoris et vérifiez les interactions possibles de votre liste de médicaments.
      </h5>
    </div>

  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">3</button>
    </div>
    <div class= "wrapperpara">
      <h5>
        Partagez facilement votre avis sur un médicament selon son efficacité et de ses effets secondaires rencontrés.
      </h5>
    </div>
  </div>

</div>
