<div class= "row">
  <div class= "col-sm-8 offset-2 wrapperheader">

      <h1>La premiere solution pour gérer votre prise de médicaments en ligne et rester en bonne santé</h1>

  </div>
</div>

<div class= "row">
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">1</button>
    </div>
    <div class= "wrapperpara">
      <h5>
        Accédez à toutes les informations d’un médicament à partir la base officielle des médicaments.
      </h5>
    </div>



  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">2</button>
    </div>
    <div class= "wrapperpara">
      <h5>
        Ajoutez votre médication à vos favoris et évitez les interactions possibles entre vos autres médicaments.
      </h5>
    </div>

  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">3</button>
    </div>
    <div class= "wrapperpara">
      <h5>
        Notez vos médicaments en fonction de leur efficacité et des effets secondaires rencontrés.
      </h5>
    </div>
  </div>

</div>
