<div class= "row">
  <div class= "col-sm-8 offset-2 wrapperheader">

      <h1>VidalMedicament de la mise en relation jusqu'au paiement</h1>

  </div>
</div>

<div class= "row">
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">1</button>
    </div>
    <div class= "wrapperpara">
      <p>
        Je contacte 3-4 freelances pour réaliser mon projet et reçois leur proposition commerciale.
      </p>
    </div>



  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">1</button>
    </div>
    <div class= "wrapperpara">
      <p>
        Je contacte 3-4 freelances pour réaliser mon projet et reçois leur proposition commerciale.
      </p>
    </div>

  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="listitems">
      <button type="button" class="btn btn-primary">1</button>
    </div>
    <div class= "wrapperpara">
      <p>
        Je contacte 3-4 freelances pour réaliser mon projet et reçois leur proposition commerciale.
      </p>
    </div>
  </div>

</div>
