<h1>Medispeech</h1>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 offset-sm-4">
      <div class="form-login">
        <%= form_tag method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Paracetamol 1g..."
          %>
        <% end %>
      </div>
    </div>
  </div>
</div>
