<h1>Medispeech</h1>






<!-- <script>

drug_search.addEventListener("keyPress", (event)=> {
const path = document.getElementById('search-path').dataSet.searchPath
fetch('/medocs/search')
.then((data) => {
  data.forEach((drug) => {
    const item = `<li>${drug.denomination}</li>`;
    drug.insertAdjacentHTML("beforeend", item);
  });
});
}

</script> -->
