
  .secu {
    p {
      padding-bottom: 1px;
      margin-bottom: 1px;
    }
  }

  .effi {
    p {
      padding-bottom: 1px;
      margin-bottom: 1px;
    }
  }

.card {
  margin-top: 25px;
}

.card-body {

  flex-wrap: wrap;

  p {
    font-size: 16px
  }

  #btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
