.rates {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 5px;

}
  .secu {
    margin-right: 20px;
    p {
      color: white;
      padding-bottom: 1px;
      margin-bottom: 1px;
    }
  }

  .effi {
    margin-right: 10px;
    p {
      color: white;
      padding-bottom: 1px;
      margin-bottom: 1px;
    }
  }

.card {
  margin-top: 25px;
  a {
    margin-left: 10px;
    color: black;
  }
}

.card-header-review {
  background-color: #3F88C5;

}

.card-body {

  flex-wrap: wrap;

  p {
    font-size: 16px
  }

  #btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
