.listitems {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  .btn {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    color: black;
  }
}

.home_wrapper {
height: calc(100vh - 70px);
width: auto;
background-color: rgba(0,36,61,0.6);
}

.wrapperheader {
    color: white;
    margin-top: 50px;

    text-align: center;
}

.wrapperpara {
  h5 {
    color: white;
    text-align: center;
    padding: 20px;
  }
}
